h2{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
ol,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    height: 100%;
}
.table>tbody>tr>td{
    vertical-align: middle;
}

/* 侧边栏 */
.lt_side{
    height: 100%;
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #212C32;
}
.lt_side .header{
    background-color: #367EA8;
    text-align: center;
}
.lt_side .header a h2{
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}
.lt_side .content{
    padding-top: 30px;
}
.lt_side .content .top{
    padding: 30px 20px;    
}
.lt_side .content .top img{
    width: 55px;
    border-radius: 50%;
}
.lt_side .content .top span{
    font-size: 12px;
    color: #ccc;
}
.lt_side .content li>a{
    padding-left: 30px;
    border: 2px solid transparent;
    display: block;
}
.lt_side .content li>a.active{
    background-color: black;
    border-left-color:yellowgreen;
}
.lt_side .content li a{
    line-height: 30px;
    color: #999;
}
.lt_side .content li a i{
    margin-right: 5px;
}
.lt_side .content li ol{
    display: none;
    overflow: hidden;
}
.lt_side .content li ol li{
    padding-left: 20px;
    line-height: 30px;
    font-size: 12px;
}
/* 侧边栏 */

.lt_main{
height: 100%;
padding-left: 180px;
}
.lt_main .header{
background-color: skyblue;
height: 50px;
line-height: 50px;
padding: 0 20px;
}

.lt_main .header a i{
line-height: 50px;
font-size: 20px;
color: #fff;
}
.lt_main .nav .breadcrumb{
margin: 30px 20px;
}
.lt_main .content{
padding-left: 20px;
}